div{
    background-color: black;
    padding-bottom:20px;
    border: 8px solid white;
    height: 60px;
    
}
a{
    margin-right: 200px;
    color: white;
    text-decoration:none;
    
}
button{
    background-color: orange;
    color:white;
    font-weight:bold;
}
.company-name{
    font-weight: 700;
    font-size:  25px;
    color:orange;
}
