div{
    width:100px;
    height:100px;
    border: 2px solid blue;
    margin-bottom: 30px;
    padding: 10px 20px 30px 40px;
}
#first{
    background-color: rgba(255, 0, 0, 0.5);
}
#second{
    background-color: rgba(30,40,50,0.5);
}
#third{
    background-color: rgba(38, 233, 233, 0.5);
}
nav{
    background-color: black;
    padding-bottom:20px;
    border: 8px solid white;
    height: 60px;
    text-decoration: none;
}
.company-name{
    font-weight: 700;
    font-size:  25px;
    color:orange;
    text-decoration: none;
}

a{
    margin-right: 200px;
    color: white;
    text-decoration:none;
    
}
footer{
    text-align: center;
    background-color: grey;
    width: auto;
}
